@import '../../styles/style.scss';

.authInputContainer {
  position: relative;
}

.authInputLabel {
  color: #878787;
  font-size: toRem(14.5px);
  font-weight: 600;
  text-transform: capitalize;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 13px;
  padding: 0 5px;
  background: $col-bg;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;

  &[data-focused='true'] {
    top: -10px;
    font-size: toRem(12px);
  }
  &[data-error='true'] {
    color: $col-error;
  }
}

.authInput {
  @include border-radius(4px);
  font-size: toRem(17px);
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background: transparent;
  color: #474747;
  font-weight: 400;
  border: 1px solid #e6e5e5;
  box-sizing: border-box;

  &:focus {
    outline: none;
    ~ .authInputLabel {
      top: -10px;
      font-size: toRem(12px);
    }
  }

  &[data-error='true'] {
    border: 1px solid $col-error;
  }
}

.passwordBtn {
  display: flex;
  position: absolute;
  top: 50%; 
  right: 0.5rem;
  transform: translate(-50%, -50%);
}

.authInputInner {
  position: relative;
}

.authFormInstruction {
  color: $col-error;
  font-size: toRem(11.5px);
  font-weight: 600;
  margin-top: toRem(8px);
}
