// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

@mixin respondMin($breakpoint) {
  @if $breakpoint==mini-phone {
    @media only screen and (min-width: 21.875rem) {
      @content;
    }

    // > 350px
  }

  @if $breakpoint==smallest-phone {
    @media only screen and (min-width: 23.4375rem) {
      @content;
    }

    // > 375px
  }

  @if $breakpoint==smaller-phone {
    @media only screen and (min-width: 26.5625rem) {
      @content;
    }

    // > 425px
  }

  @if $breakpoint==small-phone {
    @media only screen and (min-width: 31.25rem) {
      @content;
    }

    // > 500px
  }

  @if $breakpoint==phone {
    @media only screen and (min-width: 7.5rem) {
      @content;
    }

    // > 600px
  }

  @if $breakpoint==big-tab {
    @media only screen and (min-width: 62.5rem) {
      @content;
    }

    // > 1000px
  }

  @if $breakpoint==mid-laptop {
    @media only screen and (min-width: 70rem) {
      @content;
    }

    // > 1120px
  }

  @if $breakpoint==mini-laptop {
    @media only screen and (min-width: 75rem) {
      @content;
    }

    // > 1200px
  }

  @if $breakpoint==laptop {
    @media only screen and (min-width: 85.375rem) {
      @content;
    }

    // > 1366px
  }

  @if $breakpoint==max-laptop {
    @media only screen and (min-width: 95rem) {
      @content;
    }

    // > 1430px
  }

  @if $breakpoint==desktop {
    @media only screen and (min-width: 112.5rem) {
      @content;
    }

    // > 1800px
  }
}

@mixin border-radius($pixel...) {
  border-radius: $pixel;
  -webkit-border-radius: $pixel;
  -moz-border-radius: $pixel;
  -ms-border-radius: $pixel;
  -o-border-radius: $pixel;
}

// FLEX FLOW
@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

// FLEX SPACE BETWEEN
@mixin flex-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

// FLEX ROW-ALONE
@mixin row {
  display: flex;
  flex-direction: row;
}

//FLEX COLUMN
@mixin flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// FLEX COLUMN-ALONE
@mixin column {
  display: flex;
  flex-direction: column;
}

/// INPUT FORM PLACEHOLDER
@mixin placeholder($color) {
  /* MODERN BROWSER */
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-ms-input-placeholder {
    color: $color;
  }
  &::placeholder {
    color: $color;
  }
}
