//Colors
$col-primary: #ff4d00;
$col-sec: #0074b3;
$col-sec-two: #d4af35;
$col-green: #55a61c;
$col-black: #000000;
$col-black-light: rgba(0, 0, 0, 0.4);
$col-white: #ffffff;
$col-txt: #252525;
$col-txt-secondary: #929292;
$col-bg: #f6f6f6;
$col-txt-feint: #a8a8a8;
$col-red: #ff0202;
$col-grey: #c4b8b8;
$col-grey-dark: #2E2E2E;
