@import '../../../styles/style.scss';
.auth {
  @include column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include respondMin(big-tab) {
    display: grid;
    grid-template-columns: 1fr 35%;
  }
}

// FIRST COLUMN WITH FORMS AND STEPS STYLES BEGINS HERE
.authColOne {
  background-color: $col-bg;

  .authSteps {
    padding-top: 2rem;
    padding-right: 2.5rem;
    @include row;
    justify-content: flex-end;
  }
  .authStepsText {
    color: $col-text;
    font-weight: bold;
    font-size: 0.8rem;
  }
  .authStepsDots {
    @include row;
    align-items: center;
    margin-left: 1rem;
    column-gap: 0.6rem;
  }
  .authStepsDotActive,
  .authStepsDot {
    @include border-radius(100vh);
    width: 4px;
    height: 4px;
  }
  .authStepsDotActive {
    background-color: $col-text;
  }
  .authStepsDot {
    background-color: $col-grey-dark;
  }
}

.authFormsContainer {
  width: 100%;
  max-width: calc(100% - 60px);
  margin: 0 auto;
  height: 100%;
  margin-top: 3.5rem;

  @include respondMin(big-tab) {
    max-width: calc(100% - 50%);
    margin-top: 10rem;
  }

  .authFormHeader {
    font-size: toRem(25px);
    text-align: left;
    color: $col-text;
    @include respondMin(big-tab) {
      font-size: toRem(30px);
    }
  }
  .authFormSubHeader {
    color: #5f5f5f;
    font-size: toRem(14px);
    font-weight: 600;
    margin-block: toRem(36px);
  }

  .authFormLink {
    color: #3a78fa;
    margin-left: 0.6rem;
  }
}

.authForm {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(5, auto);
  row-gap: toRem(20px);
}
.authFormInstruction {
  color: #959595;
  font-size: toRem(12px);
  font-weight: 600;
  margin-top: toRem(10px);
  margin-bottom: toRem(20px);
}

// button validated class
.authFormBtn {
  background-color: $col-primary;
  color: $col-white;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  @include border-radius(4px);
  width: 100%;
  height: 50px;
  text-transform: capitalize;
  font-weight: 600;

  &:hover {
    box-shadow: 2px 2px 15px 0 rgba($color: $col-primary, $alpha: 0.6);
  }

  &:disabled {
    background-color: #ededed;
    color: #acacac;
    cursor: not-allowed;
  }
}

.authFooterDetail {
  margin-top: toRem(40px);
  color: #525252;
  font-size: toRem(12px);
  font-weight: 600;

  .authFooterLink {
    color: $col-primary;
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 0.2rem;
  }
}

.selectDropdown,
.selectDropdown * {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}
.selectDropdown {
  @include border-radius(4px);
  width: 100%;
  height: 50px;
  position: relative;
  background-color: transparent;
  border: 1px solid #e6e5e5;
  padding: 0 toRem(20px);
}
.selectDropdown select {
  color: #878787;
  font-size: toRem(14px);
  font-weight: 600;
  max-width: 100%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}
.selectDropdown select:active,
.selectDropdown select:focus {
  outline: none;
  box-shadow: none;
}
.selectDropdown:after {
  content: url(../../../../src/assets/icons/caret-down.svg);
  position: absolute;
  top: 16px;
  right: 8px;
  width: auto;
}
// FIRST COLUMN WITH FORMS AND STEPS STYLES ENDS HERE

// COL TWO WITH BLUE BACKGROUND AND HEADER STYLES BEGINS HERE
.authColTwo {
  display: none;
  @include respondMin(big-tab) {
    @include flex-column;
    background-color: $col-primary;
    color: $col-white;
  }

  .authColTwoHeader {
    font-weight: bold;
    font-size: toRem(30px);
    line-height: toRem(14px);
    text-transform: capitalize;
    color: inherit;
  }
  .authColTwoSubHeader {
    font-weight: 400;
    font-size: toRem(18px);
    line-height: toRem(32px);
    color: inherit;
    width: 100%;
    max-width: calc(100% - 40%);
    margin: toRem(80px) auto 0 auto;
  }
}

// COL TWO WITH BLUE BACKGROUND AND HEADER STYLES ENDS HERE
