@mixin h1 {
  font-size: toRem(96px);
  font-style: normal;
  font-weight: 700;
  line-height: toRem(144px);
  letter-spacing: -0.015em;
}
@mixin h2 {
  font-size: toRem(60px);
  font-style: normal;
  font-weight: 700;
  line-height: toRem(90px);
  letter-spacing: -0.01em;
}

@mixin h3 {
  font-size: toRem(48px);
  font-style: normal;
  font-weight: 700;
  line-height: toRem(72px);
  letter-spacing: -0.005em;
}

@mixin h4 {
  font-size: toRem(34px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(51px);
  letter-spacing: 0em;
}

@mixin h5 {
  font-size: toRem(24px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(36px);
  letter-spacing: 0em;
}

@mixin h6 {
  font-size: toRem(20px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(30px);
  letter-spacing: 0.0075em;
}

@mixin sub-one {
  font-size: toRem(16px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(24px);
  letter-spacing: 0.005em;
  text-align: left;
}

@mixin sub-two {
  font-size: toRem(14px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(21px);
  letter-spacing: 0.005em;
}

@mixin body-one {
  font-size: toRem(16px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(24px);
  letter-spacing: 0.0168em;
}

@mixin body-two {
  font-size: toRem(14px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(21px);
  letter-spacing: 0.0168em;
}

@mixin button-txt {
  font-size: toRem(16px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(24px);
  letter-spacing: 0.02em;
}

@mixin caption {
  font-size: toRem(12px);
  font-style: normal;
  font-weight: 400;
  line-height: toRem(18px);
  letter-spacing: 0.03em;
}
